.Rproj.user
.Rhistory
.RData
.Ruserdata
Thesis_Template_Biometris.toc
GM_Proposal_draft2_YV_17-10-2023.pdf
out/GM_ThesisBiometris.acr
out/GM_ThesisBiometris.acn
out/GM_ThesisBiometris.alg
out/GM_ThesisBiometris.aux
out/GM_ThesisBiometris.bcf
out/GM_ThesisBiometris.blg
out/GM_ThesisBiometris.fdb_latexmk
out/GM_ThesisBiometris.fls
out/GM_ThesisBiometris.log
out/GM_ThesisBiometris.out
out/GM_ThesisBiometris.pdf
out/GM_ThesisBiometris.run.xml
out/GM_ThesisBiometris.synctex.gz
out/GM_ThesisBiometris.synctex(busy)
out/GM_ThesisBiometris.toc
